.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 2rem;
  font-weight: 700;
  color: #e6f1ff;
  margin: 0;
}

.title {
  font-size: 1.2rem;
  color: #e6f1ff;
  margin-top: 10px;
  font-weight: 500;
}

.tagline {
  margin-top: 20px;
  max-width: 420px;
  line-height: 1.6;
  color: #8892b0;
}

.navLinks {
  display: none;
}

@media (min-width: 1024px) {
  .heroContent {
    height: 100vh;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 16px;
  }
}

.socialLinks {
  margin-top: auto;
  padding-bottom: 20px;
  display: flex;
  gap: 25px;
  font-size: 0.8rem;
  color: #8892b0;
  transition: color 0.3s ease;


}

.socialLinks:hover {
  color: #61b3c0;
}

.test {
  color: red;
  font-size: 60px;
}