.container {
  margin-bottom: 120px;
  scroll-margin-top: 96px;
}

.category {
  margin: 25px 0;
}

.category h3 {
  color: #61b3c0;
  font-size: 0.9rem;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.category h3::after {
  content: "";
  display: block;
  height: 1px;
  width: 200px;
  background-color: rgba(35, 53, 84, 1);
  margin-left: 20px;
}

.skillList {
  display: flex;
  flex-wrap: wrap; 
  gap: 12px 30px; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.skillItem {
  font-size: 0.95rem;
  color: #8892b0;
  display: flex;
  align-items: center;
  min-width: 140px;
}

.skillItem::before {
  content: "▹";
  color: #61b3c0;
  margin-right: 10px;
}