:root {
  --navy: #0a192f;
  --green: #61b3c0;
  --white: #e6f1ff;
  --slate: #8892b0;
}

.container {
  background-color: var(--navy);
  min-height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 4rem 2rem;
}

@media (min-width: 1024px) {
  .layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
    min-height: 100vh;
    overflow: visible;
  }

  .left-side {
    position: fixed;
    top: 0;
    left: 50px; 
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 96px 0;
    box-sizing: border-box;
    z-index: 10;
  }

  .right-side {
    margin-left: calc(40% + 50px);
    width: calc(60% - 50px);
    padding: 96px 0;
    box-sizing: border-box;
  }
}

section {
  margin-bottom: 100px;
  scroll-margin-top: 100px; 
}